body{
    overflow-x: hidden;
}
.text-dark{
     font-family: 'Roboto', sans-serif !important;
     font-size: 18px !important;
}
.text-dark:hover{
    color: #cebc9ccc !important;
}

#brand_esquerda{
    display: none;
}

/* Gambs para a imagem sair do menu */
@media (max-width: 1198px) {
    #brand_esquerda{display: block;}
    #imagem_menu{display: none;}
    #link_ajuste{margin-top: -8px;}
  }

  #footer_menu{
      clear:right !important;
      margin-bottom: 170px;
  }

#order{
    list-style: none !important;
    margin-top: -15px !important;
}
#footer_div{
    background-color: #297A83;
}
#link_menu_footer{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    text-decoration: underline !important;
}
#li_footer{
    margin-top: -15px;
}
#img_footer{
    margin: 30px 0px 50px 65px;
}

#facebook_icon{
  color: #144CC6 !important; 
  font-size: 40px !important;
}

#twitter_icon{
    color: #00ACEE !important; 
    font-size: 40px !important;
  }