@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

h5{
    font-family: 'Comfortaa', cursive !important;
    color:black;
    text-align: justify;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

h1{
 font-family: 'Confortaa' , cursive;
 width: 700px; 
 height: 100px;
border: 2px solid black;
display: flex;
}

.titulo_principal{
align-content: center;
padding: 30px;
font-family: 'Comfortaa', cursive !important;
}

.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;

}


.container_1{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
    
    }
    
#botao_emergencial{
width: 400px;
height: 50px; 
background-color:#cd2c2c; 
padding-left: 50%;
padding: 20px;
margin: 20px;

}

#botao_vermelho{
width: 400px;
height: 50px; 
background-color: #C91E1E;
padding: 20px;
margin: 20px;
}

#botao_laranja{
width: 400px;
height: 50px; 
background-color: #B00909;
padding: 20px;
margin: 20px;
}

#botao_amarelo{
width: 400px;
height: 50px; 
background-color:  #FC0D0D ; 
padding: 20px;
margin: 20px;
}

#botao_azul{
width: 400px;
height: 50px; 
background-color: #FF4040; 
padding: 20px;
margin: 20px
}

#botao_verde{
width: 400px;
height: 50px; 
background-color:#FF4040; 
padding: 20px;
margin: 20px
}

#fonte{
margin-left: 50px;
padding: 50px;
}

#texto{
font-size: 23px;
}