@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.atualizacoes{
    background-color: #F0F0F0;
    padding: 12px;
}

#titulo_cumprimento{
    font-family: 'Roboto', sans-serif !important; 
    font-size: 1.8em; 
    margin: -20px 100px 60px 0px; 
    font-weight: bold;
}
#saiba_mais{
    font-size: 3.0em; 
    margin-bottom: 20px; 
    font-weight: bold;
}
#subtitulo_cinza{
    font-size: 1.7em; 
    color:#99958fcc; 
    margin-bottom: 40px;
}
#botao_verde{
    width: 300px; 
    background-color: #297A83; 
    color: #FFFFFF;
}
#div_dados{
    background-color: #F0F0F0;
    padding: 0px 70px 0px 70px !important;
    margin-bottom: 100px !important;
    /* display: none !important; */
}
#card_div{
    margin: 40px auto 0px auto !important;
    display: flex;
    justify-content:center;
}
#card_conteudo{
    width: 80% !important;
    height: 75% !important;
}
#p_card_texto{
    text-align: right !important;
    font-family: 'Comfortaa', cursive !important;
    font-size: 1.0em;
    color: #767676;
}
#p_card_numero{
    text-align: right !important;
    font-weight: bold;
    font-size: 1.7em;
    margin: -15px 0px 0px 0px !important;
}
#img_card{
    margin: -85px 10px 0px 0px !important;
}

#titulo_noticias{
    margin: 0px 0px 100px 55px  !important;
    font-family: 'Comfortaa', cursive !important;
    font-size: 2.5em;
    color: #297A83;
}

#titulo_noticia:hover{
    text-decoration: underline;
}

#div_noticias{
    padding: 0px 50px 0px 50px !important ;
}

#div_noticias a{
    text-decoration: none;
}

#div_noticias img{
    height: 225px;
    object-fit: cover;
}

#link_home{
    font-family: 'Roboto', sans-serif !important; 
    font-size: 1.2em;
    color: #297A83 !important;
}

#titulo_noticia{
    font-family: 'Roboto', sans-serif !important; 
    font-weight: bold;
    font-size: 1.8em;
}
#subtitulo_noticia{
    font-family: 'Roboto', sans-serif !important; 
    font-size: 1.2em;
}
#data_home{
    font-family: 'Roboto', sans-serif !important; 
    font-size: 1.2em;
}

#div_fundo{
    background-color: #F0F0F0;
    margin: 50px 0px 40px 0px !important;
}

#div_interligacoes{
    padding: 30px 80px 30px 270px !important;
}

#div_linha_indice{
    background-color: #F0F0F0;
    padding: 60px 50px 60px 200px !important;
    margin-bottom: -20px !important;
}
#div_img{
    margin: 20px 0px 0px 0px;
}
#prgfo_indice{
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #FE4F60;
}
#link_img_indice{
    text-decoration: none;
}
#link_img_indice img:hover{
    opacity: 0.9;
}
#img_virus_sintomas{
    margin: 0px 0px -750px 0px;
  }
/* Ajustes responsivos */

@media (max-width: 1200px) {
    
    #card_conteudo{
        width: 90% !important;
        height: 80% !important;
    }

    #p_card_texto{
        font-size: 0.8em;
    }
    #p_card_numero{
        font-size: 1.4em;
    }

    #img_card{
        margin: -75px 10px 0px 0px !important;
    }

    #card_div{
        margin: 40px 0px 30px 0px !important;
    }

    #saiba_mais{
        font-size: 2.3em;
    }

    #subtitulo_cinza{
        font-size: 1.5em;
    }

}

@media (max-width: 1060px) {
    
    #div_dados{
        padding-left: 25px !important;
        padding-right: 15px !important;
     }

    #card_conteudo{
        width: 100% !important;
        height: 90% !important;
    }

    #p_card_texto{
        font-size: 0.7em;
    }
    #p_card_numero{
        font-size: 1.3em;
    }

    #img_card{
        margin: -45px 0px 0px 0px !important;
    }
    #card_div{
        margin: 40px 0px 30px 0px !important;
    }

    #titulo_noticia{
        font-size: 1.6em;
    }
    #subtitulo_noticia{
        font-size: 1.2em;
    }
    #data_home{
        font-size: 1.2em;
    }

    #div_linha_indice{padding: 60px 0px 60px 90px !important;}
  }



@media (max-width: 800px) {
    
    #div_dados{
       padding-left: 15px !important;
       padding-right: 15px !important;
    }
    
    #img_card{
        margin: -45px 0px 0px 0px !important;
    }
    #card_div{
        margin: 20px auto 20px auto !important;
    }

    #p_card_texto{
        font-size: 0.6em;
    }
    #p_card_numero{
        font-size: 1.1em;
    }
    #titulo_noticia{
        font-size: 1.5em;
    }
    #subtitulo_noticia{
        font-size: 0.9em;
    }
    #data_home{
        font-size: 0.9em;
    }

    #titulo_noticias{
        margin: 0px 30px 100px 0px  !important;
        font-size: 1.7em;
    }

    #div_linha_indice{padding: 60px 0px 60px 30px !important;}
    

  }
  
  @media (max-width: 766px) {
    #img_virus_sintomas{display: none;}
}

  @media (max-width: 750px) {
    #div_linha_indice{padding: 60px 0px 60px 60px !important;}
    }

 
  @media (max-width: 600px) {
    #div_linha_indice{padding: 60px 0px 60px 20px !important;}
    #img_virus_sintomas{display: none;}
    }

  