@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.titulo_principal{
    text-align: center;
}

#linha1{
    padding: 0px 0px 0px 50px;
    z-index: 2;
}
.nome{
    font-family: 'Comfortaa', cursive !important;
    font-size: 1.5em;
    margin-top: 20px;
}

.paragrafo_1{
    font-family: 'Comfortaa', cursive !important;
    font-size: 0.9em;
}
.link_pagina{
    font-family: 'Comfortaa', cursive !important;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.link_pagina:hover{
    color: #EE6161;
    font-size: 1.1em;

}

#img_virus_sintomas{
    margin: -100px 0px -100px 0px;
  }

@media(max-width: 995px){
    #linha1{padding: 0px;}
}

@media (max-width: 500px) {
    #img_virus_sintomas{width: 45%; margin: 0px 0px -80px 0px;}
}